<!--MenüDropDown-->
<!--<div>-->
<!--  <img [src]="imagePath" alt="Logo">-->
<!--  <h1>{{ title }}</h1>-->
<!--  <button mat-button [matMenuTriggerFor]="menu">Menü</button>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>-->
<!--    <button mat-menu-item [routerLink]="['/about']">About</button>-->
<!--  </mat-menu>-->
<!--</div>-->

<mat-toolbar color="primary" class="flex">
  <img [src]="imagePath" alt="Logo">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <a mat-button [routerLink]="['/dashboard']">Dashboard</a>
  <a mat-button [routerLink]="['/about']">About</a>
</mat-toolbar>
