button.active {
  background-color: orange;
  color: white;
}

.container {
  max-width: 1200px;
}

.row {
  justify-content: center;
}

.loading-row {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    align-items: center;
    height: 100px;
  }
}
