<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h2>Zum Kurs anmelden!</h2>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Max Muster" formControlName="name" required>
    <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">
      Name ist erforderlich
    </mat-error>
  </mat-form-field><br />

  <mat-form-field appearance="outline">
    <mat-label>Geburtsdatum</mat-label>
    <input matInput type="date" formControlName="birthdate" required>
    <mat-error *ngIf="registrationForm.get('birthdate')?.hasError('required')">
      Geburtsdatum ist erforderlich.
    </mat-error>
  </mat-form-field><br />

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="max.mustermann@test.at" formControlName="email" required>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
      Email ist erforderlich.
    </mat-error>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
      Bitte eine gültige Email-Adresse eingeben.
    </mat-error>
  </mat-form-field><br />

  <mat-checkbox formControlName="newsletter">Newsletter abonnieren</mat-checkbox><br />

  <mat-form-field appearance="outline">
    <mat-label>Kursauswahl</mat-label>
    <mat-select formControlName="courseId" required>
      <mat-option value="" disabled>Bitte auswählen</mat-option>
      <mat-option *ngFor="let course of storeService.courses" [value]="course.id">
        {{ course.name }} ({{ course.instructor }})
      </mat-option>
    </mat-select>
    <mat-error *ngIf="registrationForm.get('courseId')?.hasError('required')">
      Bitte einen Kurs auswählen.
    </mat-error>
  </mat-form-field><br />

  <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid">
    Erfassen
  </button>

  <div class="toast-container position-fixed bottom-0 end-0 p-3" *ngIf="showToast">
    <div class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Die Kursanmeldung war erfolgreich!
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="hideToast()" aria-label="Close"></button>
      </div>
    </div>
  </div>
</form>
